@import "../../node_modules/bootstrap/scss/bootstrap";

.card-img-top {
  max-height: 14rem;
}

.profile-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.scroll {
  max-height: calc(8 * 42px);
  overflow-y: auto;
}
