@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: rgb(255, 255, 254);
}

//Navbar

.navbar {
  background-color: rgb(86, 67, 20);
}
.nav-item {
  margin-right: 1rem;
}

.nav-item:last-child {
  margin-right: 0px;
}

//Fonts

p,
a,
h1,
h3,
h2,
h4,
li {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  color: rgb(42, 32, 4);
}

//Card

.image-container {
  width: 100%;
  height: 400px;
}

.card-img-top {
  width: 100%;
  height: 100%;

  border-radius: 0px;
}
.card-body {
  height: 285px;
}

.short {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px;
}

.light-font {
  font-weight: 300;
}

.countdown-timer {
  font-weight: 500;
  font-size: 1.1rem;
  color: red;
}

.badge {
  background-color: rgb(18, 104, 91);
  padding: 7px;
}

.card {
  cursor: pointer;
  border: 1px solid rgb(232, 232, 232);
  width: 100%;
  height: auto;
  border-radius: 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 253, 248);
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

//Search field

#searchField,
.btn-outline-secondary {
  border-radius: 0px;
}

// Profile

.list-group-item {
  flex-wrap: wrap-reverse;
}

.rounded-pill {
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
}

.profile-image {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.heading-and-desc-container {
  padding-left: 1rem;
  width: 200px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.scroll {
  max-height: calc(8 * 42px);
  overflow-y: auto;
}

.profile-item-image {
  width: 50px;
  height: 50px;
}

.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-gallery .main-image {
  width: 100%;

  height: 500px;
  margin-bottom: 10px;
}

.image-gallery .thumbnail-image {
  cursor: pointer;
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.image-gallery .thumbnails-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

// profile

.list-profile-page {
  cursor: pointer;
}

@media (max-width: 450px) {
  .badge {
    margin: 0px;
  }

  .rounded-pill {
    font-size: 0.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
